# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Caches
.mypy_cache/
.ruff_cache/
.pytest_cache/
.cache/

# Virtual Environments
.venv/
venv/
ENV/
env/

# Environment variables / Secrets
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
app.log

# Operating System Files
.DS_Store
Thumbs.db

# IDEs/Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
